## Get the Data

Either use the provided .csv file or (optionally) get fresh (the freshest?) data from running an SQL query on StackExchange: 

Follow this link to run the query from [StackExchange](https://data.stackexchange.com/stackoverflow/query/675441/popular-programming-languages-per-over-time-eversql-com) to get your own .csv file

<code>
select dateadd(month, datediff(month, 0, q.CreationDate), 0) m, TagName, count(*)
from PostTags pt
join Posts q on q.Id=pt.PostId
join Tags t on t.Id=pt.TagId
where TagName in ('java','c','c++','python','c#','javascript','assembly','php','perl','ruby','visual basic','swift','r','object-c','scratch','go','swift','delphi')
and q.CreationDate < dateadd(month, datediff(month, 0, getdate()), 0)
group by dateadd(month, datediff(month, 0, q.CreationDate), 0), TagName
order by dateadd(month, datediff(month, 0, q.CreationDate), 0)
</code>

## Import Statements

In [ ]:
import pandas as pd

## Data Exploration

**Challenge**: Read the .csv file and store it in a Pandas dataframe

In [21]:
import pandas as pd
df = pd.read_csv("QueryResults.csv", names=["DATE", "TAG", "POSTS"], header=0)

**Challenge**: Examine the first 5 rows and the last 5 rows of the of the dataframe

In [22]:
print(df.head())
print(df.tail())

                  DATE         TAG  POSTS
0  2008-07-01 00:00:00          c#      3
1  2008-08-01 00:00:00    assembly      8
2  2008-08-01 00:00:00  javascript    162
3  2008-08-01 00:00:00           c     85
4  2008-08-01 00:00:00      python    124
                     DATE    TAG  POSTS
1986  2020-07-01 00:00:00      r   5694
1987  2020-07-01 00:00:00     go    743
1988  2020-07-01 00:00:00   ruby    775
1989  2020-07-01 00:00:00   perl    182
1990  2020-07-01 00:00:00  swift   3607

**Challenge:** Check how many rows and how many columns there are. 
What are the dimensions of the dataframe?

In [9]:
df.shape

(2468, 3)

**Challenge**: Count the number of entries in each column of the dataframe

In [10]:
df.count()

DATE     2468
TAG      2468
POSTS    2468
dtype: int64

**Challenge**: Calculate the total number of post per language.
Which Programming language has had the highest total number of posts of all time?

In [11]:
df.groupby("TAG").sum(numeric_only=True)

              POSTS
TAG
assembly      42772
c            396385
c#          1591249
c++          793650
delphi        50906
go            69122
java        1895798
javascript  2492822
perl          67643
php         1457480
python      2133660
r            489953
ruby         227866
swift        327061

Some languages are older (e.g., C) and other languages are newer (e.g., Swift). The dataset starts in September 2008.

**Challenge**: How many months of data exist per language? Which language had the fewest months with an entry?

In [12]:
df.groupby("TAG").count()

            DATE  POSTS
TAG
assembly     178    178
c            178    178
c#           179    179
c++          178    178
delphi       178    178
go           163    163
java         178    178
javascript   178    178
perl         178    178
php          178    178
python       178    178
r            176    176
ruby         178    178
swift        170    170

## Data Cleaning

Let's fix the date format to make it more readable. We need to use Pandas to change format from a string of "2008-07-01 00:00:00" to a datetime object with the format of "2008-07-01"

In [13]:
df.DATE= pd.to_datetime(df.DATE[1]).strftime("%d/%m/%Y")
df.head()

         DATE       TAG  POSTS
0  01/08/2008        c#      3
1  01/08/2008  assembly      8
2  01/08/2008         c     83
3  01/08/2008        c#    505
4  01/08/2008       c++    164

            DATE       TAG  POSTS
0     01/08/2008        c#      3
1     01/08/2008  assembly      8
2     01/08/2008         c     83
3     01/08/2008        c#    505
4     01/08/2008       c++    164
...          ...       ...    ...
2463  01/08/2008       php   2077
2464  01/08/2008    python  12196
2465  01/08/2008         r   2900
2466  01/08/2008      ruby    258
2467  01/08/2008     swift   1032

[2468 rows x 3 columns]

NameError: name 'df' is not defined

## Data Manipulation

In [16]:
reshaped_df = df.pivot(index="DATE", columns="TAG", values="POSTS")

ValueError: Index contains duplicate entries, cannot reshape

**Challenge**: What are the dimensions of our new dataframe? How many rows and columns does it have? Print out the column names and print out the first 5 rows of the dataframe.

**Challenge**: Count the number of entries per programming language. Why might the number of entries be different?

## Data Visualisaton with with Matplotlib

**Challenge**: Use the [matplotlib documentation](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.plot.html#matplotlib.pyplot.plot) to plot a single programming language (e.g., java) on a chart.

**Challenge**: Show two line (e.g. for Java and Python) on the same chart.

# Smoothing out Time Series Data

Time series data can be quite noisy, with a lot of up and down spikes. To better see a trend we can plot an average of, say 6 or 12 observations. This is called the rolling mean. We calculate the average in a window of time and move it forward by one overservation. Pandas has two handy methods already built in to work this out: [rolling()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html) and [mean()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.window.rolling.Rolling.mean.html).